@import "pages/finansovaya-podderjka/hero.css";
@import "pages/finansovaya-podderjka/ads.css";
@import "pages/finansovaya-podderjka/counters.css";
@import "pages/finansovaya-podderjka/info.css";
@import "pages/finansovaya-podderjka/contacts.css";

.accordion__list-item {
    border-top: 2px solid #C2C2C2;
    padding-top: 41px;
    max-height: 124px;
}

.accordion__list-item:first-child {
    padding-top: 30px;
    max-height: 133px;
}

.accordion__list-item:last-child {
    border-bottom: 2px solid #C2C2C2;
}

.accordion__list-item.active {
    max-height: initial;
}

.accordion__list-item.active:last-child {
    border-bottom: initial;
}

.accordion__head {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

.accordion__title::after {
    transition: 0.2s linear;
}

.accordion__list-item:not(.active) .accordion__title::after {
    width: 0;
}

.accordion__title {
    max-width: 640px;
    width: 100%;
}

.fp-dropdown-arrow {
    transition: 0.2s linear;
    margin-top: -15px;
}

.active .fp-dropdown-arrow {
    transform: rotate(180deg);
}

@media (min-width: 1024px) {
    .accordion__head:hover {
        opacity: 0.6;
    }
}