@import "pages/finansovaya-podderjka/hero.css";
@import "pages/finansovaya-podderjka/ads.css";
@import "pages/finansovaya-podderjka/counters.css";
@import "pages/finansovaya-podderjka/info.css";
@import "pages/finansovaya-podderjka/contacts.css";

.accordion__list-item {
    border-top: 2px solid #C2C2C2;
    max-height: 124px;
}

.accordion__list-item:first-child {
    max-height: 143px;
}

.accordion__list-item:first-child .accordion__head {
    padding-top: 30px;
    height: 141px;
}

.accordion__list-item:last-child {
    border-bottom: 2px solid #C2C2C2;
}

.accordion__list-item.active {
    max-height: initial;
}

.accordion__list-item.active:last-child {
    border-bottom: initial;
}

.accordion__head {
    padding-top: 41px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: pointer;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
    height: 122px;
}

.accordion__title {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.accordion__title::after {
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

.accordion__list-item:not(.active) .accordion__title::after {
    width: 0;
}

.accordion__title {
    max-width: 640px;
    width: 100%;
}

.fp-dropdown-arrow {
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
    margin-top: -38px;
}

.active .fp-dropdown-arrow {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

@media (min-width: 1024px) {
    .accordion__head:hover {
        opacity: 0.6;
    }
}

@media (max-width: 1024px) {
    .accordion__title {
        font-size: 32px;
    }
}

@media (max-width: 767px) {
    .accordion__list-item:first-child:not(.active),
    .accordion__list-item:not(.active) {
        max-height: 100px;
    }

    .accordion__title {
        font-size: 4vw;
        max-width: 80%;
    }

    .fp-dropdown-arrow {
        margin-top: initial;
        width: 40px;
    }

    .accordion__list-item:first-child .accordion__head,
    .accordion__head {
        height: auto;
        padding-top: initial;
        margin: 21px 0;
    }
}

@media (max-width: 400px) {
    .accordion__title {
        font-size: 5vw;
    }
}