/*TT Firs Neue*/

@font-face {
    font-family: "TT Firs Neue";
    src: local("TT Firs Neue"),
    url("../fonts/TT Firs Neue/TTFirsNeue-Light.woff2") format("woff2"),
    url("../fonts/TT Firs Neue/TTFirsNeue-Light.woff") format("woff"),
    url("../fonts/TT Firs Neue/TTFirsNeue-Light.ttf") format("ttf"),
    url("../fonts/TT Firs Neue/TTFirsNeue-Light.eot") format("eot");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "TT Firs Neue";
    src: local("TT Firs Neue"),
    url("../fonts/TT Firs Neue/TTFirsNeue-Regular.woff2") format("woff2"),
    url("../fonts/TT Firs Neue/TTFirsNeue-Regular.woff") format("woff"),
    url("../fonts/TT Firs Neue/TTFirsNeue-Regular.ttf") format("ttf"),
    url("../fonts/TT Firs Neue/TTFirsNeue-Regular.eot") format("eot");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TT Firs Neue";
    src: local("TT Firs Neue"),
    url("../fonts/TT Firs Neue/TTFirsNeue-Medium.woff2") format("woff2"),
    url("../fonts/TT Firs Neue/TTFirsNeue-Medium.woff") format("woff"),
    url("../fonts/TT Firs Neue/TTFirsNeue-Medium.ttf") format("ttf"),
    url("../fonts/TT Firs Neue/TTFirsNeue-Medium.eot") format("eot");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "TT Firs Neue";
    src: local("TT Firs Neue"),
    url("../fonts/TT Firs Neue/TTFirsNeue-DemiBold.woff2") format("woff2"),
    url("../fonts/TT Firs Neue/TTFirsNeue-DemiBold.woff") format("woff"),
    url("../fonts/TT Firs Neue/TTFirsNeue-DemiBold.ttf") format("ttf"),
    url("../fonts/TT Firs Neue/TTFirsNeue-DemiBold.eot") format("eot");
    font-weight: 600;
    font-style: normal;
}