.modal {
    position: fixed;
    z-index: -10;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(50, 50, 50, 0.20);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

.modal.active {
    z-index: 1000;
    opacity: 1;
    visibility: visible;
}

.modal__wrapper {
    border-radius: 30px;
    background: #FFFFFF;
    color: #323232;
    max-width: 1080px;
    width: 100%;
    position: relative;
    padding: 50px 50px 42px;
    overflow-y: auto;
    max-height: 100vh;
    -webkit-overflow-scrolling: touch;
}

.modal__title {
    max-width: 760px;
    width: 100%;
    font-size: 40px;
    font-weight: 500;
    line-height: 1;
    position: relative;
}

.news-global-slider .modal__content {
    padding: 38px 37px 0px 50px;
    max-height: 90vh;
    background-color: #FFFFFF;
    overflow: auto;
    border-radius: 30px;
    border-top: 25px solid #FFFFFF;
    border-bottom: 53px solid #FFFFFF;
}

.modal__close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
    z-index: 10;
    pointer-events: initial;
}

.modal__close:hover {
    opacity: 0.7;
}

.news-global-slider .modal__close {
    top: 5px
}

.modal__descr {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1;
    margin: 22px 0 33px;
    max-width: 609px;
    width: 100%;
}

.modal__form-inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 260px;
    max-width: 900px;
    width: 100%;
}

.modal__form-item {
    max-width: 420px;
    width: 100%;
    margin-bottom: 15px;
}

.modal__form-label {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.1;
    display: block;
    margin-bottom: 5px;
    position: relative;
}

.modal__form-label::after {
    content: 'Обязательное поле';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    color: #F67878;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.1;
    opacity: 0;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

.email-error .modal__form-label::after {
    content: 'Некорректный email'
}

.modal__form-input {
    border-radius: 10px;
    background: #E8E9F7;
    width: 100%;
    padding: 16px 13px 15px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
}

.modal__form-item.error .modal__form-input {
    background-color: rgba(246, 120, 120, 0.15);
}

.modal__form-item.error .modal__form-label::after {
    opacity: 1;
}

textarea.modal__form-input {
    resize: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 220px;
}

.modal__form-input::-webkit-input-placeholder {
    color: #C2C2C2;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
}

.modal__form-input::-moz-placeholder {
    color: #C2C2C2;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
}

.modal__form-input:-ms-input-placeholder {
    color: #C2C2C2;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
}

.modal__form-input::-ms-input-placeholder {
    color: #C2C2C2;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
}

.modal__form-input::placeholder {
    color: #C2C2C2;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
}

.modal__form-input::-webkit-input-placeholder {
    color: #C2C2C2;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
}

.modal__form-input::-moz-placeholder {
    color: #C2C2C2;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
}

.modal__form-input:-ms-input-placeholder {
    color: #C2C2C2;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
}

.modal__form-remark {
    color: #C2C2C2;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 30px;
}

.modal__form-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.modal-anim-open {
    -webkit-animation: openModalAnim 0.3s ease forwards;
    animation: openModalAnim 0.3s ease forwards;
}

.modal-anim-close {
    -webkit-animation: closeModalAnim 0.3s ease forwards;
    animation: closeModalAnim 0.3s ease forwards;
}

.news-modal {
    color: #323232;
}

.modal__news-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.modal__news-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 30px;
}

.modal__news-topic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 963px;
    width: 100%;
    margin: 0 auto 24px;
}

.modal__news-topic-slider {
    position: relative;
    max-width: 461px;
    width: 100%;
    margin-right: 55px;
    height: 417px;
}

.modal__news-topic-slider-item picture,
.modal__news-topic-slider img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 20px;
    height: 100%;
}

.modal__news-topic-content-head {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 15px;
}

.modal__news-head-switches {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.modal__news-head-switches-text {
    color: #062D5E;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.1;
    margin-right: 10px;
}

.modal__news-main {
    max-width: 963px;
    width: 100%;
    margin: 0 auto;
}

.modal__news-main-text,
.modal__news-list li {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
}

.modal__news-main-text.underline {
    text-decoration: underline;
}

.modal__news-main-text.bold {
    font-weight: 600;
}

.modal__news-list  li:not(:last-child) {
    margin-bottom: 10px;
}

.modal__news-main-text:not(:last-child) {
    margin-bottom: 20px;
}

.modal__news-topic-slider + .modal__news-topic-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 466px;
    flex: 0 1 466px;
}

.modal__news-list {
    list-style-type: initial;
    padding-left: 20px;
    margin: 20px 0;
}

.modal__news-list.number {
    list-style-type: auto;
}

.news-global-slider {
    max-width: 1080px;
    width: 100%;
}

.news-global-modal a {
    text-decoration: underline;
    color: #1C5A96;
}

.modal__success {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 50px 0 65px;
}

.modal__success-title {
    font-size: 40px;
    font-weight: 500;
    line-height: 1;
}

.modal__success-descr {
    margin: 10px 0 50px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
    text-align: center;
}

.modal__success-img {
    max-width: 254px;
    width: 100%;
}

.modal__form-notice {
    margin-left: 16px;
    margin-top: 8px;
    max-width: 503px;
}

.modal__form-notice-text {
    font-size: 6px;
    font-weight: 400;
    line-height: 6.6px;
    color: #5C5C5C;
}

.modal__form-notice-text:not(:last-child) {
    margin-bottom: 8px;
}

@-webkit-keyframes openModalAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes openModalAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes closeModalAnim {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes closeModalAnim {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.modal__content::-webkit-scrollbar {
    width: 4px;
    background-color: #E8E9F7;
    border-radius: 20px;
}

.modal__content::-webkit-scrollbar-thumb {
    background-color: #1C5A96;
    border-radius: 20px;
}

.modal__content::-webkit-scrollbar-thumb:hover {
    background-color: #092E4B;
}

.modal__content::-webkit-scrollbar-track {
    background-color: #E8E9F7;
    border-radius: 20px;
}

.modal__content::-webkit-scrollbar-track:hover {
    background-color: #DADBE5;
}

@media (max-width: 1024px) {
    .news-global-slider .modal__content {
        padding: 0px 18px 0;
        border-top: 48px solid #FFFFFF;
        border-bottom: 21px solid #FFFFFF;
    }

    .news-global-slider .modal__title {
        max-width: 87%;
    }

    .modal__news-topic-slider {
        max-width: 100%;
        height: 100%;
    }

    .modal__news-head {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-bottom: 19px;
    }

    .modal__title {
        font-size: 24px;
        line-height: 1.1;
    }

    .modal__news-head-switches {
        margin-top: 20px;
    }

    .modal__wrapper,
    .news-global-slider {
        max-width: 94%;
        border-radius: 20px;
    }

    .form-modal .modal__title,
    .modal__form-footer {
        margin: 0 auto;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }

    .modal__descr {
        text-align: center;
        margin: 20px auto;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }

    .modal__form-inputs {
        height: auto;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .modal__form-remark {
        margin: 0 auto 20px;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }

    .modal__form-footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }


    .modal__news-topic {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0 auto 24px;
    }

    .modal__news-topic-slider + .modal__news-topic-content{
        -webkit-box-flex: 1;
        -ms-flex: auto;
        flex: auto;
        margin-top: 30px;
    }
}

@media (max-width: 767px) {
    .modal__close {
        position: absolute;
        top: 20px;
        right: 22px;
    }

    .modal__descr,
    .modal__form-remark,
    .modal__form-inputs {
        width: auto;
    }

    .modal__form-inputs {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .form-modal .modal__title, .modal__form-footer {
        margin: 0;
    }

    .modal__wrapper {
        padding: 48px 42px 24px 19px;
        max-height: 90vh;
    }

    .modal__descr {
        text-align: initial;
        font-size: 14px;
        margin: 20px auto 15px;
    }

    .modal__form-label {
        font-size: 12px;
        padding-bottom: 15px;
        margin-bottom: 0;
    }

    .modal__form-input {
        padding: 13px 16px 13px;
        font-size: 14px;
    }

    .modal__form-item:last-child {
        margin-top: 15px;
        margin-bottom: 0px;
    }

    .modal__form-input::-webkit-input-placeholder {
        font-size: 14px;
    }

    .modal__form-input::-moz-placeholder {
        font-size: 14px;
    }

    .modal__form-input:-ms-input-placeholder {
        font-size: 14px;
    }

    .modal__form-input::-ms-input-placeholder {
        font-size: 14px;
    }

    .modal__form-input::placeholder {
        font-size: 14px;
    }

    .modal__form-input::-webkit-input-placeholder {
        font-size: 14px;
    }

    .modal__form-input::-moz-placeholder {
        font-size: 14px;
    }

    .modal__form-input:-ms-input-placeholder {
        font-size: 14px;
    }

    textarea.modal__form-input {
        height: 90px;
    }

    .modal__form-footer {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .modal__form-label::after {
        font-size: 12px;
        right: initial;
        top: initial;
        left: 0;
        bottom: 0;
    }

    .modal__success {
        margin: 22px 0 65px;
    }

    .modal__success-descr {
        margin: 10px 0 30px;
    }

    .modal__news-topic-content,
    .modal__news-main-text {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
    }

    .modal__news-topic-content-head {
        font-size: 16px;
        line-height: 1;
    }

    .modal__news-main-text,
    .modal__news-list li {
        font-size: 14px;
    }

    .modal__news-main-text:not(:last-child) {
        margin-bottom: 14px;
    }

    .modal__news-topic {
        margin: 0 auto 17px;
    }

    .modal__form-notice {
        margin-top: 15px;
    }
}

@media (max-width: 350px) {
    .modal__form-input::-webkit-input-placeholder {
        font-size: 12px;
    }
    .modal__form-input::-moz-placeholder {
        font-size: 12px;
    }
    .modal__form-input:-ms-input-placeholder {
        font-size: 12px;
    }
    .modal__form-input::-ms-input-placeholder {
        font-size: 12px;
    }
    .modal__form-input::placeholder {
        font-size: 12px;
    }

    .modal__form-input::-webkit-input-placeholder {
        font-size: 12px;
    }

    .modal__form-input::-moz-placeholder {
        font-size: 12px;
    }

    .modal__form-input:-ms-input-placeholder {
        font-size: 12px;
    }

    .modal__form-input {
        font-size: 12px;
    }
}