.projects {
    margin: 36px 0 67px;
    color: #323232;
}

.projects__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.projects__title {
    margin-bottom: 40px;
}

.projects__content-item:nth-child(odd) {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 530px;
    flex: 0 1 530px;
    border-radius: 20px;
    background-color: #E8E9F7;
    margin-right: 20px;
    padding: 24px;
    min-height: 201px;
}

.projects__content-item {
    max-width: 750px;
    width: 100%;
    position: relative;
}

.projects__slider-item {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 20px;
    min-height: 190px;
    padding: 24px;
}

.projects__content-title,
.projects__slider-title {
    font-weight: 500;
    font-size: 26px;
    line-height: 110%;
}

.projects__content-title {
    margin-bottom: 25px;
    max-width: 400px;
    width: 100%;
}

.projects__slider-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    margin: 17px 0 16px;
    max-width: 650px;
    width: 100%;
}

.projects__content-button {
    display: block;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.projects__slider-arrows {
    max-width: 64px;
    left: initial;
    -webkit-transform: initial;
    -ms-transform: initial;
    transform: initial;
    right: 0;
    margin-top: 6px;
}

@media (max-width: 1330px) {
    .projects__content-title {
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    .projects__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .projects__content-item:nth-child(odd) {
        -webkit-box-flex: initial;
        -ms-flex: initial;
        flex: initial;
        margin-right: initial;
        margin-bottom: 20px;
        min-height: 140px;
    }

    .projects__content-item {
        max-width: initial;
    }
}

@media (min-width: 768px) {
    .projects__content-button {
        padding: 13px 41px;
    }
}

@media (max-width: 767px) {
    .projects {
        margin: 30px 0 60px;
    }

    .projects__title {
        margin-bottom: 20px;
    }

    .projects__content-item:nth-child(odd) {
        padding: 15px;
    }
}