.orv-faq__title {
    margin: 44px 0 46px;
}

.orv-faq__content-info-list {
    max-width: 435px;
    width: 100%;
}

.orv-faq__content-info-list li {
    font-size: 18px;
    font-weight: 500;
    line-height: 19.8px;
    color: #404040;
    position: relative;
    padding-left: 15px;
    margin-left: 13px;
}

.orv-faq__content-info-list li:not(:last-child) {
    margin-bottom: 21px;
}

.orv-faq__content-info-list li::before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #404040;
}

.orv-faq__content-info_1 {
    background: url('../../../images/orv-faq-answer-bg-1.png') no-repeat center;
    color: #062D5E;
}

.orv-faq__content-info_2 {
    background: url('../../../images/orv-faq-answer-bg-2.png') no-repeat center;
}

.orv-faq__content-info_2 .faq__content-title {
    color: #323232;
}

.orv-faq__content-info_3 {
    background: url('../../../images/orv-faq-answer-bg-3.png') no-repeat center;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 192dpi) {
    .orv-faq__content-info_1 {
        background: url('../../../images/orv-faq-answer-bg-1@2x.png') no-repeat center;
        background-size: cover;
    }

    .orv-faq__content-info_2 {
        background: url('../../../images/orv-faq-answer-bg-2@2x.png') no-repeat center;
        background-size: cover;
    }

    .orv-faq__content-info_3 {
        background: url('../../../images/orv-faq-answer-bg-3@2x.png') no-repeat center;
        background-size: cover;
    }
}