.orv-scheme {
    margin: 67px 0 0;
}

.orv-scheme__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1080px;
    width: 100%;
    margin: 44px auto 0;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    padding-bottom:69px;
}

.orv-scheme__list-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 310px;
    flex: 0 0 310px;
    border-radius: 20px;
    border: 2px solid transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
    position: relative;
    overflow: hidden;
    min-height: 338px;
}

.orv-scheme__list-item:not(:last-child) {
    margin-right: 20px;
}

.orv-scheme__list-item::before {
    content: '';
    display: block;
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

.orv-scheme__list-item picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.orv-scheme__list-item img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.orv-scheme__list-title {
    font-size: 26px;
    font-weight: 500;
    line-height: 28.6px;
    text-align: center;
    text-transform: uppercase;
    color: #323232;
    padding: 31px 10px 4px;
}

@media (min-width: 1024px) {
    .orv-scheme__list-item:hover {
        border: 2px solid #FFFFFF;
        -webkit-box-shadow: 0px 10px 30px 0px #E0E0E0;
        box-shadow: 0px 10px 30px 0px #E0E0E0;
    }

    .orv-scheme__list-item:hover::before {
        background-color: #E8E9F7;
    }
}

@media (max-width: 1024px) {
    .orv-scheme {
        margin: 60px 0 0;
    }

    .orv-scheme__list {
        margin: 30px auto 0;
        padding-bottom:40px;
    }
}