.orv-docs {
    margin-bottom: 50px;
}

.orv-docs__subtitle {
    font-size: 30px;
}

.orv-docs__list {
    margin-bottom: 47px;
}

.orv-docs__list-item {
    padding: 23px 21px;
    position: relative;
    min-height: 202px;
}

.orv-docs__list-date {
    line-height: 15.4px;
    color: #C2C2C2;
    margin-top: auto;
    margin-bottom: 12px;
}

.orv-docs__footer {
    margin-top: 21px;
}

@media (max-width: 767px) {
    .orv-docs__subtitle {
        font-size: 20px;
    }
}