.activities {
    margin-bottom: 59px;
}

.activities__container {
    overflow: visible;
}

.activities__title {
    margin-bottom: 55px;
}

.activities__slider-wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1108px;
}

.activities__slider {
    color: #323232;
    line-height: 1.1;
}

.activities__slider-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 262px;
    flex: 0 1 262px;
    border-radius: 20px;
    border: 2px solid transparent;
    cursor: pointer;
    padding: 22px 15px 0px 19px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
    position: relative;
    overflow: hidden;
}

.activities__slider-item::before {
    content: '';
    display: block;
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

.activities__slider-item:hover {
    -webkit-transform: scale(1.01) !important;
    -ms-transform: scale(1.01) !important;
    transform: scale(1.01) !important;
    border: 2px solid #FFFFFF;
    -webkit-box-shadow: 0px 10px 30px 0px #E0E0E0;
    box-shadow: 0px 10px 30px 0px #E0E0E0;
}

.activities__slider-item:hover::before {
    background-color: #E8E9F7;
}

.activities__slider-item picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.activities__slider-item img {
    width: 310px;
    -o-object-fit: cover;
    object-fit: cover;
    max-height: 190px;
}

.activities__slider-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 20px;
    min-height: 32px;
    max-width: 202px;
}

.activities__slider-subtitle {
    font-size: 12px;
    display: block;
    margin-top: 5px;
}

.activities__slider-descr {
    font-size: 14px;
    font-weight: 400;
    min-height: 72px;
}

.activities__slider-footer {
    margin-top: 29px;
    max-width: 93%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.activities__slider-pagination {
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    display: none;
}

.activities__slider-arrows {
    -ms-flex-item-align: end;
    align-self: flex-end;
}


@media (max-width: 1326px) {
    .activities__slider-item {
        -webkit-box-flex: initial;
        -ms-flex: initial;
        flex: initial;
    }

    .activities__slider-item:hover {
        -webkit-transform: none!important;
        -ms-transform: none!important;
        transform: none!important;
        border: 2px solid transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .activities__slider-item:hover::before {
        display: none;
    }

    .activities__container {
        overflow-x: hidden;
    }
}

@media (max-width: 1024px) {
    .activities {
        margin-bottom: 30px;
    }

    .activities__title {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .activities__slider-pagination {
        display: block;
    }

    .activities__slider-footer {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .activities__slider-item {
        padding: 18px 15px 0px 19px;
    }

    .swiper-slide-active.activities__slider-item {
        border: 2px solid #FFFFFF;
        -webkit-box-shadow: 0px 10px 30px 0px #E0E0E0;
        box-shadow: 0px 10px 30px 0px #E0E0E0;
    }

    .swiper-slide-active.activities__slider-item::before {
        background-color: #E8E9F7;
    }

    .activities__title {
        margin-bottom: 21px;
    }

    .activities__slider-item img {
        width: 330px;
        height: 220px;
        max-height: initial;
    }
}

@media (max-width: 350px) {
    .activities__slider-item img {
        width: 310px;
        height: auto;
    }
}