.documents {
    margin: 56px 0 55px;
}

.documents__content {
    margin: 51px 0 33px;
}

.documents__button {
    display: block;
    text-align: center;
}

@media (max-width: 1024px) {
    .documents__button {
        margin: 0 auto;
    }
}

@media (max-width: 767px) {
    .documents__button {
        max-width: 171px;
    }
}