.orv-docs {
    margin-bottom: 231px;
}

.orv-docs__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 47px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.orv-docs__list-item {
    border-radius: 20px;
    border: 2px solid #E8E9F7;
    color: #062D5E;
    line-height: 1.1;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
    cursor: pointer;
    padding: 23px 21px;
    position: relative;
    min-height: 202px;
    flex: 0 0 310px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.orv-docs__list-item:not(:last-of-type) {
    margin-right: 20px;
}

.orv-docs__list-title {
    font-size: 18px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: normal;
}

.orv-docs__list-date {
    font-size: 14px;
    font-weight: 400;
    line-height: 15.4px;
    color: #C2C2C2;
    margin-top: auto;
    margin-bottom: 12px;
}

.orv-docs__list-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
}

@media (min-width: 1024px) {
    .orv-docs__list-item:hover {
        color: #FFFFFF;
        background-color: #1C5A96;
        border: 2px solid #1C5A96;
    }
}

@media (max-width: 1024px) {
    .orv-docs {
        margin-bottom: 50px;
    }
}