.header__top {
    border-radius: 20px;
    background-color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 27px 19px 12px;
}

.header__top.open {
    border-radius: 20px 20px 0px 0px;
}

.header__top-logo {
    max-width: 212px;
    width: 100%;
    height: 44px;
}

.header__top-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 503px;
    flex: 0 1 503px;
}

.header__tg-link {
    margin: 0 30px;
}

.header__tg-link_mobile {
    display: none;
}

.header__tel {
    color: #323232;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.1
}

.header__nav {
    margin: 33px 0 26px;
    position: relative;
}

.header__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 1264px;
    width: 100%;
    margin: 0 auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header__nav-list-item {
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
    color: #323232;
}

.header__nav-list-item a {
    color: inherit;
}

.header__nav-list-item a[href^="https://"],
.header__nav-list-item a[href^="http://"] {
    color: #062D5E;
    font-weight: 500;
    line-height: 110%;
}

.header__mobile-menu-button-wrapper {
    width: 30px;
    height: 30px;
    display: none;
    margin-left: 30px;
}

.open.header__mobile-menu-button-wrapper {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

.header__mobile-menu-button {
    height: 30px;
    width: 5px;
    position: relative;
    cursor: pointer;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.header__mobile-menu-button::before,
.header__mobile-menu-button::after {
    content: '';
    display: block;
    background-color: #1C5A96;
    height: 100%;
    width: 1px;
    position: absolute;
    top: 0;
    -webkit-transition: width 0.1s ease, -webkit-transform 0.3s ease;
    transition: width 0.1s ease, -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease, width 0.1s ease;
    transition: transform 0.3s ease, width 0.1s ease;
    transition: transform 0.3s ease, width 0.1s ease, -webkit-transform 0.3s ease;
}

.header__mobile-menu-button::before {
    left: 2px;
}

.header__mobile-menu-button::after {
    left: 2px;
    -webkit-transform: translateX(4px);
    -ms-transform: translateX(4px);
    transform: translateX(4px);
}

.header__mobile-menu-button:hover {
    opacity: 0.7;
}

.open.header__mobile-menu-button-wrapper .header__mobile-menu-button {
    width: 20px;
}

.open.header__mobile-menu-button-wrapper .header__mobile-menu-button::before {
    -webkit-transform: translateX(0) rotate(45deg);
    -ms-transform: translateX(0) rotate(45deg);
    transform: translateX(0) rotate(45deg);
    width: 2px;
}

.open.header__mobile-menu-button-wrapper .header__mobile-menu-button::after {
    -webkit-transform: translateX(0) rotate(-45deg);
    -ms-transform: translateX(0) rotate(-45deg);
    transform: translateX(0) rotate(-45deg);
    width: 2px;
}


@media (max-width: 1024px) {
    .header__mobile-menu-button-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .header__nav {
        margin: 0;
    }

    .header__top-contacts {
        -webkit-box-flex: 1;
        -ms-flex: auto;
        flex: auto;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .header__nav-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        z-index: 100;
        pointer-events: none;
        background-color: #FFFFFF;
        -webkit-transition: opacity 0.3s ease-out;
        -o-transition: opacity 0.3s ease-out;
        transition: opacity 0.3s ease-out;
        padding: 30px 0;
        margin-top: -1px;
        border-radius: 0px 0px 20px 20px;
    }

    .header__nav-list.open {
        opacity: 1;
        pointer-events: auto;
    }

    .header__tel {
        font-size: 16px;
    }

    .header__nav-list-item:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .header__tel {
        display: none;
    }

    .header__top {
        padding: 25px 7px 12px
    }

    .header__tg-link_desktop {
        display: none;
    }

    .header__tg-link_mobile {
        display: block;
    }

    .header__tg-link {
        margin: 0;
    }

    .header__top-logo {
        max-width: 143px;
        height: auto;
    }

    .header__top-contacts {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 160px;
        flex: 0 1 160px;
    }

    .header__button {
        margin-left: 0px;
    }

    .header__mobile-menu-button-wrapper {
        margin-left: 7px;
    }

    .header__nav-list {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding: 30px 8px 70px;
    }

    .header__nav-list-item:not(:last-child) {
        margin-bottom: 50px;
    }
}

@media (max-width: 350px) {
    .header__top-logo {
        max-width: 100px;
        height: auto;
    }
}