.competitive {
    margin: 62px 0 41px;
    color: #323232;
}

.competitive__head-title {
    margin: 46px 0 12px;
}

.competitive__head-list {
    display: flex;
}

.competitive__head-list-item {
    flex: 0 1 423px;
    background-color: #FFFFFF;
    border-radius: 20px;
    min-height: 250px;
    padding: 16px 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.competitive__head-list-item:not(:last-child) {
    margin-right: 16px;
}

.competitive__head-list-item:not(:first-child) .competitive__head-list-title {
    max-width: 310px;
}

.competitive__head-list-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 110%;
}

.competitive__head-list-img {
    display: block;
    margin: 0 auto;
}

.competitive__content {
    margin-top: 40px;
}

.competitive__content-title {
    margin-bottom: 13px;
}

.competitive__content-numbers-item {
    border-radius: 20px;
    background-color: #FFFFFF;
    min-height: 188px;
    padding: 24px;
}

.competitive__content-numbers-item:nth-child(odd) {
    background-color: #E8E9F7;
}

.competitive__content-numbers-item:not(:last-child) {
    margin-bottom: 15px;
}

.competitive__content-numbers-text {
    color: #323232;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
}

.competitive__content-numbers-item:first-child .competitive__content-numbers-text {
    max-width: 283px;
    width: 100%;
}

.competitive__content-numbers-text span {
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    display: block;
    margin-bottom: 6px;
}

.competitive__content-count.ui-count-block {
    padding: 16px 16px 17px;
}

.competitive__content-count .ui-count-block__list-item:last-child {
    background: linear-gradient(90deg, #E8E9F7 56.6%, #005FA0 123.6%);
    padding-left: 13px;
}

.competitive__content-count .ui-count-block__list-item:last-child .ui-count-block__list-title {
    padding-left: 9px;
    max-width: 500px;
}

@media (max-width: 1024px) {
    .competitive__head-list {
        flex-direction: column;
    }

    .competitive__head-list-item {
        flex: auto;
        min-height: 213px;
    }

    .competitive__head-list-item {
        min-height: 213px;
    }

    .competitive__head-list-item:not(:last-child) {
        margin-right: initial;
        margin-bottom: 16px;
    }

    .competitive__head-list-item:not(:first-child) .competitive__head-list-title,
    .competitive__content-numbers-item:first-child .competitive__content-numbers-text {
        max-width: initial;
    }

    .competitive__content-numbers-item {
        min-height: 120px;
    }
}