.hero {
    margin: 62px 0 42px;
}

.hero__content {
    display: flex;
    margin-top: 46px;
}

.hero__content-item {
    flex: 0 1 640px;
    border-radius: 30px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(85.95deg, #E8E9F7 22.3%, #005FA0 139.98%);
    min-height: 320px;
    margin-bottom: 20px;
    padding: 25px 24px;
    position: relative;
}

.hero__content-item:nth-child(odd) {
    background: #E8E9F7;
    margin-right: 20px;
}

.hero__content-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #062D5E;
    max-width: 460px;
    width: 100%;
}

.hero__content-img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}