.hero {
    margin: 62px 0 42px;
}

.hero__content {
    margin-top: 46px;
}

.hero__content-item {
    border-radius: 30px;
    background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%), -o-linear-gradient(4.05deg, #E8E9F7 22.3%, #005FA0 139.98%);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(85.95deg, #E8E9F7 22.3%, #005FA0 139.98%);
    min-height: 320px;
    margin-bottom: 20px;
    padding: 25px 24px;
    position: relative;
}

.hero__content-item:nth-child(odd) {
    background: #E8E9F7;
}

.hero__content-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #062D5E;
    max-width: 460px;
    width: 100%;
}

.hero__content-img {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

@media (max-width: 1024px) {
    .hero__content-item {
        padding: 25px 24px 0;
        min-height: 260px;
    }

    .hero__content-title {
        max-width: initial;
    }

    .hero__content-img {
        position: initial;
        display: block;
        margin: 0 auto;
        -webkit-transform: initial;
        -ms-transform: initial;
        transform: initial;
    }
}

@media (max-width: 767px) {
    .hero {
        margin: 30px 0;
    }

    .hero__content-item {
        padding: 15px 15px 0;
    }
}