.monitoring__content {
    margin-top: 46px;
}

.monitoring__content-item {
    position: relative;
    border-radius: 30px;
    background-color: #EEEEEE;
    padding: 25px 24px;
    flex-direction: row;
}

.monitoring__content-text-title {
    color: #062D5E;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    max-width: 350px;
    width: 100%;
    margin-bottom: 24px;
}

.monitoring__content-text-button {
    display: block;
    text-align: center;
    max-width: 177px;
    margin-bottom: auto;
}

.monitoring__content-text-img {
    position: absolute;
    bottom: 0;
    right: 0;
}

@media (max-width: 1024px) {
    .monitoring__content-item {
        padding: 25px 24px 0;
    }

    .monitoring__content-text-img {
        position: initial;
        max-width: 200px;
        width: 100%;
    }
}