.news {
    margin-bottom: 61px;
}

.news__list {
    display: flex;
    margin-top: 51px;
}

.news__list-item {
    flex: 0 1 310px;
    border-radius: 20px;
    border: 2px solid #E8E9F7;
    color: #062D5E;
    line-height: 1.1;
    transition: 0.2s linear;
    cursor: pointer;
    padding: 41px 21px 35px;
}

.news__list-item:hover {
    color: #FFFFFF;
    background-color: #1C5A96;
    border: 2px solid #1C5A96;
}

.news__list-item:not(:last-child) {
    margin-right: 20px;
}

.news__list-title {
    font-size: 18px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.news__list-descr {
    font-size: 14px;
    font-weight: 400;
    margin: 13px 0 10px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.news__list-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
    text-decoration-line: underline;
}

@media (max-width: 1024px) {
    .news {
        margin-bottom: 30px;
    }

    .news__list {
        flex-direction: column;
        margin-top: 30px;
    }

    .news__list-item {
        flex: auto;
    }

    .news__list-item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {
    .news__list {
        margin-top: 20px;
    }
}