.resources {
    margin-bottom: 37px;
}

.resources__content {
    display: flex;
    color: #1C5A96;
    margin-top: 46px;
}

.resources__links {
    flex: 0 1 640px;
    margin-right: 20px;
}
.resources__links-item {
    border-radius: 20px;
    background-color: #FFFFFF;
    max-width: 610px;
    width: 100%;
    position: relative;
    padding: 41px 30px 38px;
    transition: 0.2s linear;
}

.resources__links-item:hover {
    transform: scale(1.08);
    background-color: #E8E9F7;
    box-shadow: 0px 10px 30px 0px #E0E0E0;
}

.resources__links-item:not(:last-child) {
    margin-bottom: 24px;
}

.resources__links-item::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    width: 31px;
    height: 31px;
    background: url('/images/arrow-with-bg.svg') no-repeat center;
}

.resources__links-title {
    color: #323232;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
    width: 91%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.resources__banner {
    background: url('../../images/resouces-banner-bg.png') no-repeat center;
    border-radius: 20px;
    flex: 0 1 640px;
    padding: 41px 39px;
    min-height: 467px;
    position: relative;
}

.resources__banner:hover .contact-us__button {
    background-color: #062D5E;
}

.resources__banner-text {
    max-width: 314px;
    width: 100%;
}

.resources__banner-text-title {
    font-size: 26px;
    font-weight: 500;
    line-height: 1.1;
}

.resources__banner-text-descr {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1;
    margin: 10px 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
    .resources__banner {
        background: url('../../images/resouces-banner-bg@2x.png') no-repeat center;
        background-size: cover;
    }
}

@media (max-width: 1326px) {
    .resources__links-item:hover {
        transform: none;
        background-color: #FFFFFF;
        box-shadow: none;
    }
}

@media (max-width: 1024px) {
    .resources__content {
        flex-direction: column-reverse;
        margin-top: 30px;
    }

    .resources__banner {
        margin-bottom: 20px;
        flex: auto;
        min-height: 310px;
    }

    .resources__links {
        margin-right: 0;
    }

    .resources__links {
        flex: auto;
    }

    .resources__links-item {
        max-width: initial;
    }
}

@media (max-width: 767px) {
    .resources__banner {
        padding: 21px;
    }

    .resources__banner-text-title {
        font-size: 18px;
    }

    .resources__banner-text-descr {
        font-size: 12px;
        max-width: 127px;
        width: 100%;
    }

    .resources__links-item {
        padding: 15px 19px 14px;
    }

    .resources__links-item:not(:last-child) {
        margin-bottom: 10px;
    }
    .resources__links-item:hover {
        transform: none;
    }

    .resources__links-item::after {
        right: 15px;
    }

    .resources__links-title {
        font-size: 14px;
        width: 80%;
        -webkit-line-clamp: 2;
    }

    .resources {
        margin-bottom: 30px;
    }
}