.counters {
    color: #323232
}

.counters__list-item {
    border-radius: 30px;
    background: url('../../../images/fp-counters-bg.png') no-repeat center;
    background-size: cover;
}

.counters__list-item-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 34px 32px 20px;
    max-width: 1138px;
    width: 100%;
    position: relative;
    height: 100%;
}

.counters__list-text {
    max-width: 517px;
    width: 100%;
}

.counters__list-text-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;
    text-transform: uppercase;
    margin-bottom: 31px;
}

.counters__list-text-descr {
    color: #404040;
    font-weight: 500;
    font-size: 18px;
    line-height: 110%
}

.counters__list-text-timer {
    margin: 17px 0 32px;
}

.counters__list-text-button {
    display: block;
    text-align: center;
}

.counters__list-img {
    position: absolute;
    bottom: 0;
    right: 0;
}

.counters__list-footer {
    margin-top: 27px;
    display: none;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.slider .counters__list-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 192dpi) {
    .counters__list-item {
        background: url('../../../images/fp-counters-bg@2x.png') no-repeat center;
        background-size: cover;
    }
}

@media (max-width: 1326px) {
    .counters__list-item-wrapper {
        padding: 34px 32px;
    }

    .counters__list-item {
        max-height: initial;
    }
}


@media (max-width: 1024px) {
    .counters__list-item-wrapper {
        padding: 34px 32px 300px;
    }

    .counters__list-item-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .counters__list-text-title {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .counters__list-item-wrapper {
        padding: 20px 20px 200px;
    }

    .counters__list-text-button {
        max-width: 170px;
    }

    .counters__list-img {
        max-width: 320px;
    }
}